<!-- Content to display empty state if no teams exist fro company yet -->
<% if teams.count == 0 %>
  <p>
    Looks like no teams have been set up yet, why not create the first?
  </p>
  <%= button_to "Add a Team", new_team_path, method: :get, class: "btn btn-success" %>

<!-- Content to display table containing teams -->
<% else %>
  <%= button_to "Add a Team", new_team_path, method: :get, class: "btn btn-success" %><br>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Team Name</th>
          <th scope="col">Bio</th>
          <th scope="col">Created</th>
          <th scope="col"># of Users</th>
        </tr>
      </thead>
      <tbody>
        <% teams.each do |team| %>
        <tr>
          <th scope="row"><%= link_to team.name, team_path(team) %></th>
          <td><%= team.bio %></td>
          <td><%= time_ago_in_words(team.created_at) + " ago" %></td>
          <td><%= pluralize(team.users.count, "User") %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
