<section>
  <div class="container">
    <h1><%= link_to @team.company.name, company_path(@team.company)%> > <%= @team.name %></h1>

    <br>
    <p>
      <b>Bio:</b> <%= @team.bio %>
    </p>

    <h3><%= pluralize(@team.users.count, "User")%>:</h3>

    <%= render partial: "users/users", locals: {users: @team.users} %>

  </div>
</section>
