<div class="container">

  <h1>Join Squadra!</h1>
  <div class="form-group">
    <p>
      Welcome to Squadra, we help you onboard new starters to your
      business by quickly building strong relationships and friendships that last.
    </p>

    <br>

    <%= form_for @user, url: '/signup' do |f| %>

    <div class="form-group row">
      <div class="col-3">
        <%= f.label :first_name %>
      </div>
      <div class="col-9">
        <%= f.text_field :first_name, class: "form-control #{' is-invalid' if @user.errors[:first_name].any? }" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3">
        <%= f.label :last_name %>
      </div>
      <div class="col-9">
        <%= f.text_field :last_name, class: "form-control #{' is-invalid' if @user.errors[:last_name].any? }" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3">
        <%= f.label :email %>
      </div>
      <div class="col-9">
        <%= f.text_field :email, class: "form-control #{' is-invalid' if @user.errors[:email].any? }" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3">
        <%= f.label :password %>
      </div>
      <div class="col-9">
        <%= f.password_field :password, class: "form-control #{' is-invalid' if @user.errors[:password].any? }" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3">
        <%= f.label :password_confirmation %>
      </div>
      <div class="col-9">
        <%= f.password_field :password_confirmation, class: "form-control #{' is-invalid' if @user.errors[:password].any? }" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3">
        <%= f.label :gender %>
      </div>
      <div class="col-9">
        <%= f.select :gender, @user.gender_options, class: "form-control"%>
      </div>
    </div>

        <%= f.label :company_id %>
        <%= f.text_field :company_id, value: @company.name, readonly: true %>
        <%= f.hidden_field :company_id, value: @company.id %>

        <br><br>

        <%= f.submit class: "btn btn-success"%>

      <% end %>

  </div>
</div>
