<section>
  <div class="container">
    <h1><%= @company.name %></h1>
    <hr>
    <%= button_to "Edit", edit_company_path(@company), method: :get, class: "btn-sm btn-info" %><br>
    <br>
    <p>
      <b>Bio:</b> <%= @company.bio %>
    </p>

    <h3><%= pluralize(@company.users.count, "User") %>:</h3>

    <p>
      <i>
        to add more users just send them this link:
        <b>
          <%= request.base_url %><%= signup_path(company_id: @company.id) %>
        </b>
      </i>
    </p>

     <br>
    <%= render partial: "users/users", locals: {users: @company.users} %>

  </div>
</section>
