<h1>New Quiz</h1>

<%= form_tag quiz_results_path, method: :post do %>

  <% @quiz_questions.each do |question|  %>

  <div class="form-group row">
    <%= label_tag "quiz[responses][]", question[:question] %>
    <div class="col-sm-12">
      <%= select_tag "quiz[responses][]",
      options_for_select(question[:options]), class: "form-control"%>
    </div>
    <!-- hidden fields to handle responses without using JS-->
    <%= hidden_field_tag 'quiz[questions][]', question[:question] %>
    <%= hidden_field_tag 'quiz[answers][]', question[:answer] %>

  </div>
    <br>
  <% end %>
  <br>
  <%= submit_tag "Submit Answers", class: "btn btn-primary" %>
<% end %>
